.grid-container {
  border-style: solid;
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  background-color: #9bbedd;
  display: grid;

}

.father-grid{
  padding-left: 5%;
  padding-right: 5%;
}

.my-grid-item {
  padding-top: 2.5%; 
}